background {
    background-color: #A5C089;  
  }
  
  h3 {
    margin: 0;
  }
  
  h3+p {
    margin-top: 0;
  }
  
  .img{
    text-align: center;
    align-items: center;
  margin: 0px auto;
  display:flex;
  justify-content:center;
  width: 100%;
  height:650px;
  }
  
  .back {
    background-color: #919C6C;
  
  }
  
  .green {
    color: #efefef;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
  }
  .eco {
   animation: move 3s;
    -webkit-animation: move 3s;
    font-family: 'Times New Roman', Times, serif;
    color:aliceblue;
    font-size:17px;
    font-style: oblique;
  }
  
  @keyframes move {
    from {
      margin-left: 10%;
      width: 100%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
              
  @-webkit-keyframes 
  move {  
    from {
      margin-left: 100%;
      width: 100%; 
    }
  }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  
  .sustainable {
    height: 500px;
    width: 100%;
  }
  
  .coords {
    width:600px;
    height:250px;
  }
  .cardigan {
    width:600px;
    height:250px;
  }
  .corporate {
    width:600px;
    height:250px;
  }
  .open {
    width:600px;
    height:250px;
  }
  
  .images {
    background-color:#FAF7F3;
    width: 100%;
    height: 505px;
  }
  
  .new {
    background-color:#FAF7F3;
  }
  
  .whats {
    color:#919C6C;
  }
  
  .subs {
    text-align: left;
  }
  
  .shipping {
    text-align: left;
  }
  
  body {
    height: 2000px;
    font-family: Roboto, 'Times New Roman', Times, serif;
    -webkit-font-smoothing: antialiased;
  }
           
            img {
              text-align: center;
              align-items: center;
             }
  
            body {
              background-color:#A5C089;
            }
  
            .h2 {
              color:aliceblue;
            }
  
  
          nav li {
            display: inline-block;
            margin: 0 1em;
            vertical-align: middle;
          }
  
          .subhead {
              display:flex;
              justify-content:space-evenly;
            }
  
          .third {
            display:flex;
              justify-content:space-evenly;
          }
          
          li {
            color: #A5C089;
          }
  
  
          button[type="submit"] {
              cursor: zoom-out;
              width: 5%;
              border: none;
              background: #5fb762;
              color: #FFF;
              margin: 5 5 5px;
              padding: 9px;
              font-size: 9px;      
          }
          body {
            font-size:20px;
            color: #ffffff;
            font-family: times new roman;
            align-items:flex;
            }
          
          h1 {
            font-size: 30px;
            color: #5fb762;
          }	
          
          h3 {
            font-size: 30px;
            text-align: center;
            color: #FFF;
          }
          
          h3 a {
            color: #FFF;
          }
          
          a {
            color: #FFF;
          }
          
          h1 {
            margin-top: 100px;
            text-align:center;
            font-size:60px;
            font-family: 'Bree Serif', 'serif';
            }
          
          p {
            text-align: center;
          }
          
          body {
            font-size:20px;
            color: #ffff;
            font-family: times new roman;
            align-items:flex;
            }
          
          h1 {
            font-size: 30px;
            color: #FFF;
          }	
          
          h3 {
            font-size: 30px;
            text-align: center;
            color: #FFF;
          }
          
          h3 a {
            color: #FFF;
          }
          
          a {
            color: #FFF;
          }
          
          h1 {
            margin-top: 100px;
            text-align:center;
            font-size:60px;
            font-family: 'Bree Serif', 'serif';
            }
          
          p {
            text-align: center;
          }
          
          body {
            font-size:20px;
            color: #ffff;
            font-family: times new roman;
            align-items:flex;
            }
          
          h1 {
            font-size: 30px;
            color: #FFF;
          }	
          
          h3 {
            font-size: 30px;
            text-align: left;
            color: #FFF;
          }
          
          h3 a {
            color: #FFF;
          }
          
          a {
            color: #FFF;
          }
          
          h1 {
            margin-top: 100px;
            text-align:center;
            font-size:60px;
            font-family: 'Bree Serif', 'serif';
            }
          
          p {
            text-align: center;
          }
          
          nav {
            margin: 0px;
            background-color: #919C6C;
            width: 100%;
            text-align: center;
          }
          
          nav ul {
            padding: 0;
            margin: 0;
            list-style: none;
            position: relative;
            }
            
          nav ul li {
            display:inline-block;
            background-color: #919C6C;
            }
          
          nav a {
            display:block;
            padding:0 12px;
            color:#FFF;
            font-size:20px;
            line-height: 40px;
            text-decoration:none;
          }
          
          nav a:hover { 
            background-color: #ffffff;
            color: #919C6C
          }
          
          nav ul ul {
            display: none;
            position: absolute; 
            top: 0px;
          }
          nav ul li:hover > ul {
            display:inherit;
          }
          
          nav ul ul li {
            width:170px;
            float:none;
            display:list-item;
            position: relative;
            
          }
          nav ul ul ul li {
            position: relative;
            top: 0px;
            left:170px;
          }
            select {
              cursor: pointer;
              width: 10%;
              border: none;
              background: #5fb762;
              color: #FFF;
              margin: 9 9 9px;
              padding: 10px;
              font-size: 10px;
            }
  
             label {
              font-size:large;
              color: aliceblue;
              font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
             }
  
             hr {
                width:90%;
                height:30px solid;
                border-color:#5fb762;
                border-width: 1px;
                border-radius: 15px;
             }
             h3 {
               color: aliceblue;
             }
             span {
               color: aliceblue;
             }
  
             table {
                border:aliceblue;
                margin:20px;
                min-height: 40px;
                line-height: 40px;
                margin-right: 20px;
                padding:20px;
                background-color:#5fb762;
                border-color: aliceblue;
               }
  
            tr {
                color:aliceblue;
            }
  
            th {
              color: aliceblue;
            }
  
            li {
              justify-content: space-evenly;
              list-style-type: none;
              text-align: left;
            }
        
           .h4 {
             font-style: italic;
             font-family: 'Times New Roman', Times, serif;
             color: #FFF;
           }
  
           .logo {
             align-items: center;
             justify-content: center;
             position:sticky;
             cursor: pointer;
             margin-top: auto;
  
           }
  
           .gallery_wrapper {
            height: 500px;
            width: 900px;
            margin: 90px auto;
            overflow: hidden;
          }
          
          #gallery_grid {
                  display: grid;
                  grid-template-columns: repeat(40, 1fr);
                  grid-template-rows: repeat(2, 1lfr);
                  grid-gap: 15px 20px;
                  
                  grid-auto-flow: row;
                  overflow-x: scroll;
                  height: 100%;
                  padding-bottom: 20px;
          }
                  img {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                      object-position: center;
                      overflow: hidden;
                  }
                      .span_1 {
                         grid-column-end: span 28;
                         grid-row: 1;
                      }
                      
                      .span_2 {
                         grid-column-end: span 24;
                         grid-row: 2;
                      }
                      
                      .span_3 {
                         grid-column-end: span 12;
                         grid-row: 1;
                      }
                      
                      .span_4 {
                         grid-column-end: span 12;
                         grid-row: 1;
                      }
                      
                      .span_5 {
                         grid-column-end: span 28;
                         grid-row: 2;
                      }
                      
                      .span_6 {
                        grid-column-end: span 24;
                        grid-row-start: 1;
                        grid-row-end: span 2;
                      }
  
                      .grid {
                        display: grid;
                        grid-template-rows: 
                          repeat(4, 180px);
                        grid-template-columns: 
                          repeat(3, 1fr);
                        grid-gap: 5px;
                      }
                      
                      .item:nth-child(1) {
                        grid-row: 1 / 4;
                      }
                      
                      .item:nth-child(2) {
                        grid-column: 2 / 4;
                        grid-row: 1 / 3;
                      }
                      
                      .item:nth-child(3) {
                        grid-column: 3 / 4;
                        grid-row: 3 / 5;
                      }
                      
                      .item:nth-child(4) {
                        grid-column: 2 / 3;
                        grid-row: 3 / 4;
                      }
                      
                      .item:nth-child(5) {
                        grid-column: 1 / 3;
                        grid-row: 4 / 5;
                      }
  
                      
                      .grid {
                        margin:20px auto;
                        max-width:1000px;
                      }
                      
                      .grid > .item {
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                      }